version: 2.1
orbs:
  ruby: circleci/ruby@0.1.2 
  slack: circleci/slack@4.1
jobs:
  build:
    docker:
      - image: circleci/ruby:2.7.0
    executor: ruby/default
    steps:
      - checkout
      #- run: echo "A first hello"
      - run:
          name: Which bundler?
          command: bundle -v
      - ruby/bundle-install
      - run: ruby test_sample.rb
  notify:
    docker:
      - image: cimg/base:stable
    steps:    
      - slack/notify:
          custom: |
            {
              "blocks": [
                {
                  "type": "section",
                  "fields": [
                    {
                      "type": "plain_text",
                      "text": "*This is a text notification*",
                      "emoji": true
                    }
                  ]
                }
              ]
            }
          event: always
workflows:
  send-notification:
    jobs:
      - notify:
          context: slack-secrets
